:root {
  --black: #000;
  --white: #fff;
  --light_grey: #b5b5b5;
  --grey: #a3a3a3;
  --dark_grey: #7a7a7a;
  --light_red: #ff696a;
  --red: #fe0000;
  --dark_red: #b40000;
}

.custom-cursor.hover {
  scale: 0.5;
  margin: auto;
  position: relative;
  top: 200px;
  left: 35px;
  height: 5px;
  width: 5px; /* Closed */
  box-shadow: 30px 35px 0 0 var(--black), 35px 35px 0 0 var(--black), 40px 35px 0 0 var(--black),
    45px 35px 0 0 var(--black), 20px 40px 0 0 var(--black), 25px 40px 0 0 var(--black),
    30px 40px 0 0 var(--red), 35px 40px 0 0 var(--dark_red), 40px 40px 0 0 var(--dark_red),
    45px 40px 0 0 var(--dark_red), 50px 40px 0 0 var(--black), 55px 40px 0 0 var(--black),
    15px 45px 0 0 var(--black), 20px 45px 0 0 var(--red), 25px 45px 0 0 var(--red),
    30px 45px 0 0 var(--light_red), 35px 45px 0 0 var(--red), 40px 45px 0 0 var(--dark_red),
    45px 45px 0 0 var(--dark_red), 50px 45px 0 0 var(--dark_red), 55px 45px 0 0 var(--dark_red),
    60px 45px 0 0 var(--black), 15px 50px 0 0 var(--black), 20px 50px 0 0 var(--red),
    25px 50px 0 0 var(--light_red), 30px 50px 0 0 var(--white), 35px 50px 0 0 var(--light_red),
    40px 50px 0 0 var(--red), 45px 50px 0 0 var(--red), 50px 50px 0 0 var(--dark_red),
    55px 50px 0 0 var(--dark_red), 60px 50px 0 0 var(--black), 10px 55px 0 0 var(--black),
    15px 55px 0 0 var(--red), 20px 55px 0 0 var(--red), 25px 55px 0 0 var(--red),
    30px 55px 0 0 var(--light_red), 35px 55px 0 0 var(--red), 40px 55px 0 0 var(--red),
    45px 55px 0 0 var(--red), 50px 55px 0 0 var(--dark_red), 55px 55px 0 0 var(--dark_red),
    60px 55px 0 0 var(--dark_red), 65px 55px 0 0 var(--black), 10px 60px 0 0 var(--black),
    15px 60px 0 0 var(--red), 20px 60px 0 0 var(--red), 25px 60px 0 0 var(--red),
    30px 60px 0 0 var(--red), 35px 60px 0 0 var(--black), 40px 60px 0 0 var(--black),
    45px 60px 0 0 var(--dark_red), 50px 60px 0 0 var(--dark_red), 55px 60px 0 0 var(--dark_red),
    60px 60px 0 0 var(--dark_red), 65px 60px 0 0 var(--black), 10px 65px 0 0 var(--black),
    15px 65px 0 0 var(--black), 20px 65px 0 0 var(--red), 25px 65px 0 0 var(--red),
    30px 65px 0 0 var(--black), 35px 65px 0 0 var(--white), 40px 65px 0 0 var(--white),
    45px 65px 0 0 var(--black), 50px 65px 0 0 var(--dark_red), 55px 65px 0 0 var(--dark_red),
    60px 65px 0 0 var(--black), 65px 65px 0 0 var(--black), 10px 70px 0 0 var(--black),
    15px 70px 0 0 var(--white), 20px 70px 0 0 var(--black), 25px 70px 0 0 var(--black),
    30px 70px 0 0 var(--black), 35px 70px 0 0 var(--white), 40px 70px 0 0 var(--white),
    45px 70px 0 0 var(--black), 50px 70px 0 0 var(--black), 55px 70px 0 0 var(--black),
    60px 70px 0 0 var(--light_grey), 65px 70px 0 0 var(--black), 15px 75px 0 0 var(--black),
    20px 75px 0 0 var(--white), 25px 75px 0 0 var(--white), 30px 75px 0 0 var(--white),
    35px 75px 0 0 var(--black), 40px 75px 0 0 var(--black), 45px 75px 0 0 var(--light_grey),
    50px 75px 0 0 var(--light_grey), 55px 75px 0 0 var(--light_grey), 60px 75px 0 0 var(--black),
    15px 80px 0 0 var(--black), 20px 80px 0 0 var(--light_grey), 25px 80px 0 0 var(--white),
    30px 80px 0 0 var(--white), 35px 80px 0 0 var(--white), 40px 80px 0 0 var(--white),
    45px 80px 0 0 var(--light_grey), 50px 80px 0 0 var(--light_grey),
    55px 80px 0 0 var(--light_grey), 60px 80px 0 0 var(--black), 20px 85px 0 0 var(--black),
    25px 85px 0 0 var(--black), 30px 85px 0 0 var(--light_grey), 35px 85px 0 0 var(--light_grey),
    40px 85px 0 0 var(--light_grey), 45px 85px 0 0 var(--light_grey), 50px 85px 0 0 var(--black),
    55px 85px 0 0 var(--black), 30px 90px 0 0 var(--black), 35px 90px 0 0 var(--black),
    40px 90px 0 0 var(--black), 45px 90px 0 0 var(--black);
}

.custom-cursor.click {
  animation: open_ball 0.1s;
  box-shadow: 30px 15px 0 0 var(--red), 35px 15px 0 0 var(--black), 40px 15px 0 0 var(--black),
    45px 15px 0 0 var(--dark_red), 20px 20px 0 0 var(--red), 25px 20px 0 0 var(--dark_red),
    30px 20px 0 0 var(--black), 35px 20px 0 0 var(--white), 40px 20px 0 0 var(--white),
    45px 20px 0 0 var(--black), 50px 20px 0 0 var(--dark_red), 55px 20px 0 0 var(--dark_red),
    15px 25px 0 0 var(--red), 20px 25px 0 0 var(--black), 25px 25px 0 0 var(--black),
    30px 25px 0 0 var(--grey), 35px 25px 0 0 var(--black), 40px 25px 0 0 var(--black),
    45px 25px 0 0 var(--dark_grey), 50px 25px 0 0 var(--black), 55px 25px 0 0 var(--black),
    60px 25px 0 0 var(--dark_red), 15px 30px 0 0 var(--black), 20px 30px 0 0 var(--grey),
    25px 30px 0 0 var(--grey), 30px 30px 0 0 var(--grey), 35px 30px 0 0 var(--grey),
    40px 30px 0 0 var(--dark_grey), 45px 30px 0 0 var(--dark_grey), 50px 30px 0 0 var(--dark_grey),
    55px 30px 0 0 var(--dark_grey), 60px 30px 0 0 var(--black), 10px 35px 0 0 var(--dark_red),
    15px 35px 0 0 var(--grey), 20px 35px 0 0 var(--grey), 25px 35px 0 0 var(--grey),
    30px 35px 0 0 var(--grey), 35px 35px 0 0 var(--grey), 40px 35px 0 0 var(--grey),
    45px 35px 0 0 var(--dark_grey), 50px 35px 0 0 var(--dark_grey), 55px 35px 0 0 var(--dark_grey),
    60px 35px 0 0 var(--dark_grey), 65px 35px 0 0 var(--dark_red), 10px 40px 0 0 var(--black),
    15px 40px 0 0 var(--grey), 20px 40px 0 0 var(--grey), 25px 40px 0 0 var(--grey),
    30px 40px 0 0 var(--grey), 35px 40px 0 0 var(--grey), 40px 40px 0 0 var(--grey),
    45px 40px 0 0 var(--dark_grey), 50px 40px 0 0 var(--dark_grey), 55px 40px 0 0 var(--dark_grey),
    60px 40px 0 0 var(--dark_grey), 65px 40px 0 0 var(--black), 10px 45px 0 0 var(--black),
    15px 45px 0 0 var(--grey), 20px 45px 0 0 var(--grey), 25px 45px 0 0 var(--grey),
    30px 45px 0 0 var(--grey), 35px 45px 0 0 var(--grey), 40px 45px 0 0 var(--dark_grey),
    45px 45px 0 0 var(--dark_grey), 50px 45px 0 0 var(--dark_grey), 55px 45px 0 0 var(--dark_grey),
    60px 45px 0 0 var(--dark_grey), 65px 45px 0 0 var(--black), 15px 50px 0 0 var(--black),
    20px 50px 0 0 var(--grey), 25px 50px 0 0 var(--grey), 30px 50px 0 0 var(--dark_grey),
    35px 50px 0 0 var(--dark_grey), 40px 50px 0 0 var(--dark_grey), 45px 50px 0 0 var(--dark_grey),
    50px 50px 0 0 var(--dark_grey), 55px 50px 0 0 var(--dark_grey), 60px 50px 0 0 var(--black),
    20px 55px 0 0 var(--black), 25px 55px 0 0 var(--black), 30px 55px 0 0 var(--dark_grey),
    35px 55px 0 0 var(--dark_grey), 40px 55px 0 0 var(--dark_grey), 45px 55px 0 0 var(--dark_grey),
    50px 55px 0 0 var(--black), 55px 55px 0 0 var(--black), 15px 60px 0 0 var(--black),
    20px 60px 0 0 var(--white), 25px 60px 0 0 var(--black), 30px 60px 0 0 var(--black),
    35px 60px 0 0 var(--black), 40px 60px 0 0 var(--black), 45px 60px 0 0 var(--black),
    50px 60px 0 0 var(--black), 55px 60px 0 0 var(--grey), 60px 60px 0 0 var(--black),
    10px 65px 0 0 var(--black), 15px 65px 0 0 var(--white), 20px 65px 0 0 var(--black),
    25px 65px 0 0 var(--black), 30px 65px 0 0 var(--black), 35px 65px 0 0 var(--black),
    40px 65px 0 0 var(--black), 45px 65px 0 0 var(--black), 50px 65px 0 0 var(--black),
    55px 65px 0 0 var(--black), 60px 65px 0 0 var(--light_grey), 65px 65px 0 0 var(--black),
    10px 70px 0 0 var(--black), 15px 70px 0 0 var(--light_grey), 20px 70px 0 0 var(--black),
    25px 70px 0 0 var(--black), 30px 70px 0 0 var(--black), 35px 70px 0 0 var(--black),
    40px 70px 0 0 var(--black), 45px 70px 0 0 var(--black), 50px 70px 0 0 var(--black),
    55px 70px 0 0 var(--black), 60px 70px 0 0 var(--light_grey), 65px 70px 0 0 var(--black),
    15px 75px 0 0 var(--black), 20px 75px 0 0 var(--white), 25px 75px 0 0 var(--black),
    30px 75px 0 0 var(--black), 35px 75px 0 0 var(--black), 40px 75px 0 0 var(--black),
    45px 75px 0 0 var(--black), 50px 75px 0 0 var(--black), 55px 75px 0 0 var(--light_grey),
    60px 75px 0 0 var(--black), 15px 80px 0 0 var(--black), 20px 80px 0 0 var(--grey),
    25px 80px 0 0 var(--white), 30px 80px 0 0 var(--white), 35px 80px 0 0 var(--light_grey),
    40px 80px 0 0 var(--light_grey), 45px 80px 0 0 var(--light_grey),
    50px 80px 0 0 var(--light_grey), 55px 80px 0 0 var(--light_grey), 60px 80px 0 0 var(--black),
    20px 85px 0 0 var(--black), 25px 85px 0 0 var(--black), 30px 85px 0 0 var(--light_grey),
    35px 85px 0 0 var(--light_grey), 40px 85px 0 0 var(--light_grey),
    45px 85px 0 0 var(--light_grey), 50px 85px 0 0 var(--black), 55px 85px 0 0 var(--black),
    30px 90px 0 0 var(--black), 35px 90px 0 0 var(--black), 40px 90px 0 0 var(--black),
    45px 90px 0 0 var(--black);
}

@keyframes open_ball {
  0% {
    /* Closed */
    box-shadow: 30px 35px 0 0 var(--black), 35px 35px 0 0 var(--black), 40px 35px 0 0 var(--black),
      45px 35px 0 0 var(--black), 20px 40px 0 0 var(--black), 25px 40px 0 0 var(--black),
      30px 40px 0 0 var(--red), 35px 40px 0 0 var(--dark_red), 40px 40px 0 0 var(--dark_red),
      45px 40px 0 0 var(--dark_red), 50px 40px 0 0 var(--black), 55px 40px 0 0 var(--black),
      15px 45px 0 0 var(--black), 20px 45px 0 0 var(--red), 25px 45px 0 0 var(--red),
      30px 45px 0 0 var(--light_red), 35px 45px 0 0 var(--red), 40px 45px 0 0 var(--dark_red),
      45px 45px 0 0 var(--dark_red), 50px 45px 0 0 var(--dark_red), 55px 45px 0 0 var(--dark_red),
      60px 45px 0 0 var(--black), 15px 50px 0 0 var(--black), 20px 50px 0 0 var(--red),
      25px 50px 0 0 var(--light_red), 30px 50px 0 0 var(--white), 35px 50px 0 0 var(--light_red),
      40px 50px 0 0 var(--red), 45px 50px 0 0 var(--red), 50px 50px 0 0 var(--dark_red),
      55px 50px 0 0 var(--dark_red), 60px 50px 0 0 var(--black), 10px 55px 0 0 var(--black),
      15px 55px 0 0 var(--red), 20px 55px 0 0 var(--red), 25px 55px 0 0 var(--red),
      30px 55px 0 0 var(--light_red), 35px 55px 0 0 var(--red), 40px 55px 0 0 var(--red),
      45px 55px 0 0 var(--red), 50px 55px 0 0 var(--dark_red), 55px 55px 0 0 var(--dark_red),
      60px 55px 0 0 var(--dark_red), 65px 55px 0 0 var(--black), 10px 60px 0 0 var(--black),
      15px 60px 0 0 var(--red), 20px 60px 0 0 var(--red), 25px 60px 0 0 var(--red),
      30px 60px 0 0 var(--red), 35px 60px 0 0 var(--black), 40px 60px 0 0 var(--black),
      45px 60px 0 0 var(--dark_red), 50px 60px 0 0 var(--dark_red), 55px 60px 0 0 var(--dark_red),
      60px 60px 0 0 var(--dark_red), 65px 60px 0 0 var(--black), 10px 65px 0 0 var(--black),
      15px 65px 0 0 var(--black), 20px 65px 0 0 var(--red), 25px 65px 0 0 var(--red),
      30px 65px 0 0 var(--black), 35px 65px 0 0 var(--white), 40px 65px 0 0 var(--white),
      45px 65px 0 0 var(--black), 50px 65px 0 0 var(--dark_red), 55px 65px 0 0 var(--dark_red),
      60px 65px 0 0 var(--black), 65px 65px 0 0 var(--black), 10px 70px 0 0 var(--black),
      15px 70px 0 0 var(--white), 20px 70px 0 0 var(--black), 25px 70px 0 0 var(--black),
      30px 70px 0 0 var(--black), 35px 70px 0 0 var(--white), 40px 70px 0 0 var(--white),
      45px 70px 0 0 var(--black), 50px 70px 0 0 var(--black), 55px 70px 0 0 var(--black),
      60px 70px 0 0 var(--light_grey), 65px 70px 0 0 var(--black), 15px 75px 0 0 var(--black),
      20px 75px 0 0 var(--white), 25px 75px 0 0 var(--white), 30px 75px 0 0 var(--white),
      35px 75px 0 0 var(--black), 40px 75px 0 0 var(--black), 45px 75px 0 0 var(--light_grey),
      50px 75px 0 0 var(--light_grey), 55px 75px 0 0 var(--light_grey), 60px 75px 0 0 var(--black),
      15px 80px 0 0 var(--black), 20px 80px 0 0 var(--light_grey), 25px 80px 0 0 var(--white),
      30px 80px 0 0 var(--white), 35px 80px 0 0 var(--white), 40px 80px 0 0 var(--white),
      45px 80px 0 0 var(--light_grey), 50px 80px 0 0 var(--light_grey),
      55px 80px 0 0 var(--light_grey), 60px 80px 0 0 var(--black), 20px 85px 0 0 var(--black),
      25px 85px 0 0 var(--black), 30px 85px 0 0 var(--light_grey), 35px 85px 0 0 var(--light_grey),
      40px 85px 0 0 var(--light_grey), 45px 85px 0 0 var(--light_grey), 50px 85px 0 0 var(--black),
      55px 85px 0 0 var(--black), 30px 90px 0 0 var(--black), 35px 90px 0 0 var(--black),
      40px 90px 0 0 var(--black), 45px 90px 0 0 var(--black);
  }
  0.01%,
  62.5% {
    /* Opening */
    box-shadow: 30px 30px 0 0 var(--black), 35px 30px 0 0 var(--black), 40px 30px 0 0 var(--black),
      45px 30px 0 0 var(--black), 20px 35px 0 0 var(--black), 25px 35px 0 0 var(--black),
      30px 35px 0 0 var(--white), 35px 35px 0 0 var(--white), 40px 35px 0 0 var(--dark_red),
      45px 35px 0 0 var(--dark_red), 50px 35px 0 0 var(--black), 55px 35px 0 0 var(--black),
      15px 40px 0 0 var(--black), 20px 40px 0 0 var(--white), 25px 40px 0 0 var(--white),
      30px 40px 0 0 var(--red), 35px 40px 0 0 var(--dark_red), 40px 40px 0 0 var(--dark_red),
      45px 40px 0 0 var(--dark_red), 50px 40px 0 0 var(--dark_red), 55px 40px 0 0 var(--dark_red),
      60px 40px 0 0 var(--black), 15px 45px 0 0 var(--black), 20px 45px 0 0 var(--red),
      25px 45px 0 0 var(--red), 30px 45px 0 0 var(--red), 35px 45px 0 0 var(--black),
      40px 45px 0 0 var(--black), 45px 45px 0 0 var(--dark_red), 50px 45px 0 0 var(--dark_red),
      55px 45px 0 0 var(--dark_red), 60px 45px 0 0 var(--black), 10px 50px 0 0 var(--black),
      15px 50px 0 0 var(--black), 20px 50px 0 0 var(--red), 25px 50px 0 0 var(--black),
      30px 50px 0 0 var(--black), 35px 50px 0 0 var(--white), 40px 50px 0 0 var(--white),
      45px 50px 0 0 var(--black), 50px 50px 0 0 var(--black), 55px 50px 0 0 var(--dark_red),
      60px 50px 0 0 var(--dark_red), 65px 50px 0 0 var(--black), 10px 55px 0 0 var(--black),
      15px 55px 0 0 var(--red), 20px 55px 0 0 var(--black), 25px 55px 0 0 var(--light_grey),
      30px 55px 0 0 var(--grey), 35px 55px 0 0 var(--black), 40px 55px 0 0 var(--black),
      45px 55px 0 0 var(--grey), 50px 55px 0 0 var(--grey), 55px 55px 0 0 var(--black),
      60px 55px 0 0 var(--dark_red), 65px 55px 0 0 var(--black), 15px 60px 0 0 var(--black),
      20px 60px 0 0 var(--light_grey), 25px 60px 0 0 var(--black), 30px 60px 0 0 var(--black),
      35px 60px 0 0 var(--black), 40px 60px 0 0 var(--black), 45px 60px 0 0 var(--black),
      50px 60px 0 0 var(--black), 55px 60px 0 0 var(--grey), 60px 60px 0 0 var(--black),
      10px 65px 0 0 var(--black), 15px 65px 0 0 var(--light_grey), 20px 65px 0 0 var(--black),
      25px 65px 0 0 var(--black), 30px 65px 0 0 var(--black), 35px 65px 0 0 var(--black),
      40px 65px 0 0 var(--black), 45px 65px 0 0 var(--black), 50px 65px 0 0 var(--black),
      55px 65px 0 0 var(--black), 60px 65px 0 0 var(--light_grey), 65px 65px 0 0 var(--black),
      10px 70px 0 0 var(--black), 15px 70px 0 0 var(--white), 20px 70px 0 0 var(--black),
      25px 70px 0 0 var(--black), 30px 70px 0 0 var(--black), 35px 70px 0 0 var(--black),
      40px 70px 0 0 var(--black), 45px 70px 0 0 var(--black), 50px 70px 0 0 var(--black),
      55px 70px 0 0 var(--black), 60px 70px 0 0 var(--light_grey), 65px 70px 0 0 var(--black),
      15px 75px 0 0 var(--black), 20px 75px 0 0 var(--white), 25px 75px 0 0 var(--white),
      30px 75px 0 0 var(--black), 35px 75px 0 0 var(--black), 40px 75px 0 0 var(--black),
      45px 75px 0 0 var(--black), 50px 75px 0 0 var(--white), 55px 75px 0 0 var(--light_grey),
      60px 75px 0 0 var(--black), 15px 80px 0 0 var(--black), 20px 80px 0 0 var(--grey),
      25px 80px 0 0 var(--white), 30px 80px 0 0 var(--white), 35px 80px 0 0 var(--white),
      40px 80px 0 0 var(--white), 45px 80px 0 0 var(--light_grey), 50px 80px 0 0 var(--light_grey),
      55px 80px 0 0 var(--light_grey), 60px 80px 0 0 var(--black), 20px 85px 0 0 var(--black),
      25px 85px 0 0 var(--black), 30px 85px 0 0 var(--light_grey), 35px 85px 0 0 var(--light_grey),
      40px 85px 0 0 var(--light_grey), 45px 85px 0 0 var(--light_grey), 50px 85px 0 0 var(--black),
      55px 85px 0 0 var(--black), 30px 90px 0 0 var(--black), 35px 90px 0 0 var(--black),
      40px 90px 0 0 var(--black), 45px 90px 0 0 var(--black);
  }
  62.51%,
  87.5%,
  100% {
    /* Opened */
    box-shadow: 30px 15px 0 0 var(--red), 35px 15px 0 0 var(--black), 40px 15px 0 0 var(--black),
      45px 15px 0 0 var(--dark_red), 20px 20px 0 0 var(--red), 25px 20px 0 0 var(--dark_red),
      30px 20px 0 0 var(--black), 35px 20px 0 0 var(--white), 40px 20px 0 0 var(--white),
      45px 20px 0 0 var(--black), 50px 20px 0 0 var(--dark_red), 55px 20px 0 0 var(--dark_red),
      15px 25px 0 0 var(--red), 20px 25px 0 0 var(--black), 25px 25px 0 0 var(--black),
      30px 25px 0 0 var(--grey), 35px 25px 0 0 var(--black), 40px 25px 0 0 var(--black),
      45px 25px 0 0 var(--dark_grey), 50px 25px 0 0 var(--black), 55px 25px 0 0 var(--black),
      60px 25px 0 0 var(--dark_red), 15px 30px 0 0 var(--black), 20px 30px 0 0 var(--grey),
      25px 30px 0 0 var(--grey), 30px 30px 0 0 var(--grey), 35px 30px 0 0 var(--grey),
      40px 30px 0 0 var(--dark_grey), 45px 30px 0 0 var(--dark_grey), 50px 30px 0 0 var(--dark_grey),
      55px 30px 0 0 var(--dark_grey), 60px 30px 0 0 var(--black), 10px 35px 0 0 var(--dark_red),
      15px 35px 0 0 var(--grey), 20px 35px 0 0 var(--grey), 25px 35px 0 0 var(--grey),
      30px 35px 0 0 var(--grey), 35px 35px 0 0 var(--grey), 40px 35px 0 0 var(--grey),
      45px 35px 0 0 var(--dark_grey), 50px 35px 0 0 var(--dark_grey), 55px 35px 0 0 var(--dark_grey),
      60px 35px 0 0 var(--dark_grey), 65px 35px 0 0 var(--dark_red), 10px 40px 0 0 var(--black),
      15px 40px 0 0 var(--grey), 20px 40px 0 0 var(--grey), 25px 40px 0 0 var(--grey),
      30px 40px 0 0 var(--grey), 35px 40px 0 0 var(--grey), 40px 40px 0 0 var(--grey),
      45px 40px 0 0 var(--dark_grey), 50px 40px 0 0 var(--dark_grey), 55px 40px 0 0 var(--dark_grey),
      60px 40px 0 0 var(--dark_grey), 65px 40px 0 0 var(--black), 10px 45px 0 0 var(--black),
      15px 45px 0 0 var(--grey), 20px 45px 0 0 var(--grey), 25px 45px 0 0 var(--grey),
      30px 45px 0 0 var(--grey), 35px 45px 0 0 var(--grey), 40px 45px 0 0 var(--dark_grey),
      45px 45px 0 0 var(--dark_grey), 50px 45px 0 0 var(--dark_grey), 55px 45px 0 0 var(--dark_grey),
      60px 45px 0 0 var(--dark_grey), 65px 45px 0 0 var(--black), 15px 50px 0 0 var(--black),
      20px 50px 0 0 var(--grey), 25px 50px 0 0 var(--grey), 30px 50px 0 0 var(--dark_grey),
      35px 50px 0 0 var(--dark_grey), 40px 50px 0 0 var(--dark_grey), 45px 50px 0 0 var(--dark_grey),
      50px 50px 0 0 var(--dark_grey), 55px 50px 0 0 var(--dark_grey), 60px 50px 0 0 var(--black),
      20px 55px 0 0 var(--black), 25px 55px 0 0 var(--black), 30px 55px 0 0 var(--dark_grey),
      35px 55px 0 0 var(--dark_grey), 40px 55px 0 0 var(--dark_grey), 45px 55px 0 0 var(--dark_grey),
      50px 55px 0 0 var(--black), 55px 55px 0 0 var(--black), 15px 60px 0 0 var(--black),
      20px 60px 0 0 var(--white), 25px 60px 0 0 var(--black), 30px 60px 0 0 var(--black),
      35px 60px 0 0 var(--black), 40px 60px 0 0 var(--black), 45px 60px 0 0 var(--black),
      50px 60px 0 0 var(--black), 55px 60px 0 0 var(--grey), 60px 60px 0 0 var(--black),
      10px 65px 0 0 var(--black), 15px 65px 0 0 var(--white), 20px 65px 0 0 var(--black),
      25px 65px 0 0 var(--black), 30px 65px 0 0 var(--black), 35px 65px 0 0 var(--black),
      40px 65px 0 0 var(--black), 45px 65px 0 0 var(--black), 50px 65px 0 0 var(--black),
      55px 65px 0 0 var(--black), 60px 65px 0 0 var(--light_grey), 65px 65px 0 0 var(--black),
      10px 70px 0 0 var(--black), 15px 70px 0 0 var(--light_grey), 20px 70px 0 0 var(--black),
      25px 70px 0 0 var(--black), 30px 70px 0 0 var(--black), 35px 70px 0 0 var(--black),
      40px 70px 0 0 var(--black), 45px 70px 0 0 var(--black), 50px 70px 0 0 var(--black),
      55px 70px 0 0 var(--black), 60px 70px 0 0 var(--light_grey), 65px 70px 0 0 var(--black),
      15px 75px 0 0 var(--black), 20px 75px 0 0 var(--white), 25px 75px 0 0 var(--black),
      30px 75px 0 0 var(--black), 35px 75px 0 0 var(--black), 40px 75px 0 0 var(--black),
      45px 75px 0 0 var(--black), 50px 75px 0 0 var(--black), 55px 75px 0 0 var(--light_grey),
      60px 75px 0 0 var(--black), 15px 80px 0 0 var(--black), 20px 80px 0 0 var(--grey),
      25px 80px 0 0 var(--white), 30px 80px 0 0 var(--white), 35px 80px 0 0 var(--light_grey),
      40px 80px 0 0 var(--light_grey), 45px 80px 0 0 var(--light_grey),
      50px 80px 0 0 var(--light_grey), 55px 80px 0 0 var(--light_grey), 60px 80px 0 0 var(--black),
      20px 85px 0 0 var(--black), 25px 85px 0 0 var(--black), 30px 85px 0 0 var(--light_grey),
      35px 85px 0 0 var(--light_grey), 40px 85px 0 0 var(--light_grey),
      45px 85px 0 0 var(--light_grey), 50px 85px 0 0 var(--black), 55px 85px 0 0 var(--black),
      30px 90px 0 0 var(--black), 35px 90px 0 0 var(--black), 40px 90px 0 0 var(--black),
      45px 90px 0 0 var(--black);
  }
}
